# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Database
*.db
*.sqlite3
*.sqlite

# OpenTelemetry
otel-traces.json
bin/otelcol-contrib

# Environment
.env
.venv
env/
venv/
ENV/

# IDE settings
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 